/* Curso de Engenharia de Software - UniEVANGÉLICA 
Disciplina de Programação Web 
Dev: GUSTAVO MORAIS SOUSA 
10/03/2023  */

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#formControlStock{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

input, select{
    width: 200px;
    padding: 10px 5px;
    border: 1px solid var(--color-title);
    border-radius: 10px;
    outline: none;
}

select{
    width: 212px;
}

input[type='submit'], input[type='reset']{
    background-color: var(--color-title);
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
}

input[type='submit']:hover{
    transition: 0.5s;
    background-color: var(--color-title-hover);
}

input[type='reset']{
    border: 1px solid var(--color-title);
    background-color: #fff;
    color: var(--color-title);
}

input[type='reset']:hover{
    transition: 0.5s;
    border: 1px solid var(--color-title);
    background-color: var(--color-title);
    color: #fff;
}