/* Curso de Engenharia de Software - UniEVANGÉLICA 
Disciplina de Programação Web 
Dev: GUSTAVO MORAIS SOUSA 
10/03/2023  */

section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

section div{
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

section div div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

section div div div{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

img{
    width: 250px;
    height: 250px;
    border-radius: 10px;
    object-fit:contain
}